

:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
  body {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    background: #643173;
  }
  
  .body-font{
    font-family: 'Oxygen', sans-serif;
    padding: 1.2em;
  }

  h1 {
    font-family: 'Ubuntu', sans-serif; 
    font-size: 2.8em;
    padding-top: 20px;
    text-transform: uppercase; 
    text-shadow: 3px 1px 5px #dfc1e2;
    background: linear-gradient(0deg, #c1ff18 0%,#c1ff18 16%, #c1ff18 16%, #c1ff18 41%, #c1ff18 41%);

 
  }

  h2 {
      font-size: 1.5em;
  }


  .container {
    display: grid;
    position: relative;
    height: 60vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "btn-container-bank btn-container-work btn-container-store "
      "content-bank content-work content-store "
      "product-info product-info product-info";
    grid-gap: 0.2rem;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
  }
  
  header {
    grid-area: header;
    margin-bottom: 4em;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content-bank {
    background: #7D5BA6;
    grid-area: content-bank;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    box-shadow: inset 3px 4px 5px #dfc1e2;
  }
  
  #content-work {
    background: #7D5BA6;
    grid-area: content-work;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    box-shadow: inset 3px 4px 5px #dfc1e2;
  }
  
  #content-store {
    background: #7D5BA6;
    grid-area: content-store;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    box-shadow: inset 3px 4px 5px #dfc1e2;

  }

  #btn-container-bank {
    grid-area: btn-container-bank;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

  #btn-container-work {
    grid-area: btn-container-work;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

  #btn-container-store {
    grid-area: btn-container-store;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

  #computers{
    height: 50px;
    width: 220px;
    background: #dfc1e2;
  }
  #computers:hover{
    height: 50px;
    width: 220px;
    background: #a7ffeb;
    border: 2px solid #c1ff18;
  }

  #product-info {
    background: #643173;
    text-align: center;
    grid-area: product-info;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #product-image{
    float: right;
    margin-right: 4em;
    width: 40%;
  }
  #product-description {
    margin-left: 2em;
    width: 80%;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

  #product-price {
    font-size: 24pt;
   text-decoration: underline 10px #ff1897;
  }
 

    /* Button */
.button-fx {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    bottom: 50px;
    height: 50px;
    min-width: 150px;
    max-width: 250px;
    background-color: #ff1897;
    outline:none;
    margin: 5px;
}

.button-fx:hover{
    background-color: #a7ffeb;
}

#payButton {
  visibility: hidden;
}


  
  @media only screen and (max-width: 550px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
      grid-template-areas:
        "header"
        "content-bank"
        "content-work"
        "content-store"
        "footer";
    }
  }
  